body {
    width: 100%;
    height: 100%;
    line-height: 24px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}

html {
    width: 100%;
    height: 100%;
}

.no-padding {
    padding: 0;
}

a,
a:focus,
a:active,
a:link,
img {
    outline: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #323232;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}

a:hover {
    color: #FF7E60;
    text-decoration: none;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a:link,

p {
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}


ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
    color: #333333;
    text-transform: uppercase;
}
h2{
    font-weight: 700;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #333333;
    text-transform: uppercase;
}
.section-padding {
    padding: 90px 0;
}

.bg-overlay {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.bg-overlay.black {
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
}

.section-header {
    margin-bottom: 100px;
    text-align: center;
}

.section-header h2 {
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 20px;
    padding-top: 10px;
    font-weight: 600;
    color: #333333;
}

.section-header h2::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 80px;
    left: 50%;
    top: 60px;
    text-align: center;
    z-index: -1;
    background: #FF0000;
    margin-left: -40px;
}

.section-header h2::after {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 50%;
    top: 53px;
    text-align: center;
    z-index: -1;
    background: #FF0000;
    margin-left: -7px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    background: rgb(132, 130, 216);
    text-transform: uppercase;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: 35px;
}
.navbar-custom .navbar-brand span{
    color: #FF0000;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
    font-size: 13px;
    letter-spacing: 3px;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255, 255, 255, .8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}



.welcome-text {
    text-align: center;
    color: #fff;
    padding-top: 250px;
}

.welcome-text h1 {
    font-size: 40px;
    color: #fff;
    line-height: 50px;
    margin: 30px 0px;
}

.welcome-text .name-area {
    letter-spacing: 5px;
    margin-bottom: 20px;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 36px;
    font-weight: 400;
}

.welcome-text a {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    background: #9299f0;
    margin-top: 20px;
    width: 160px;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;

}
.thumbnail{
	width: 50px;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}
.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}
