{%extends 'all-capstone/base.html'%}

{% block content %}

<div id="about" class="about-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sn-8 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="welcome-text">
                        <h2 class="wow fadeInDown">KABUTECH ENETRPRISES LTD is a wholly owned by kenyans
                            and registed under the provision of Company Act.The company directors have been
                            in key leadership positions in other established companies with over 10 years 
                            experience shared among them.<br>We offer our clients service you can trust.
                            We have the ability to put together and manage divverse with leading partners in their
                            field to harness the latest skill.</br> 
                            <br>As a company we are involed in all aspects of the graphic art business and offer products
                            and services to business entities.We believe in fulfilling our Vision and Mission through focused 
                            precision thinking and persistent execution to leaverage on Technical Support Service</br>
                        </h2>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}